html,
body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#selectContainer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 11px 0;
}

#countrySelect {
  width: 200px;
  margin: 0 auto;
}

/* Preloader */
.loader-container {
  width: 100%;
  height: 100vh;
  background-color: #0f1563;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 65px;
  height: 65px;
  border: 5px solid;
  color: #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  25% {
    color: #2ecc71;
  }
  50% {
    color: #f1c40f;
  }
  75% {
    color: #e74c3c;
  }
  to {
    transform: rotate(360deg);
  }
}

/*Modal theme colour*/

.bg-custom {
  background-color: #206e7c;
}

.btn-custom {
  background-color: white;
  border-color: #206e7c;
  color: #206e7c;
}

.btn-custom:hover {
  color: #fff;
  background-image: linear-gradient(180deg, #32818f 0%, #206e7c 100%);
  border-color: #206e7c;
}

.fa-icon {
  color: #206e7c;
}

/* Weather */

.weather-icon {
  width: 50%;
  height: auto;
  object-fit: contain;
}

/* News */

.news-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Recipes */

.recipe-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Currency Modal */

.btn-convert {
  background-color: #206e7c;
  border-color: #206e7c;
  color: white;
}

.btn-convert:hover {
  background-color: white;
  border-color: #206e7c;
  color: #206e7c;
}
