html,
body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#selectContainer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 11px 0;
}

#countrySelect {
  width: 200px;
  margin: 0 auto;
}

/* Preloader */
/* This will cover the entire screen with a semi-transparent background while loading */
.loader-container {
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    5,
    22,
    80,
    0.295
  ); /* Semi-transparent white background */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Make sure it's above other elements */
}

/* The actual loader element */
.loader {
  border: 5px solid #ebaf0b; /* Light grey border */
  border-top: 5px solid #3a5669; /* Blue color for the top border */
  border-radius: 50%; /* Circular border */
  width: 50px; /* Width of the loader */
  height: 50px; /* Height of the loader */
  animation: spin 2s linear infinite; /* Spin animation */
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  } /* Start position */
  100% {
    transform: rotate(360deg);
  } /* End position - full rotation */
}

/*Modal theme colour*/

.bg-custom {
  background-color: #206e7c;
}

.btn-custom {
  background-color: white;
  border-color: #206e7c;
  color: #206e7c;
}

.btn-custom:hover {
  color: #fff;
  background-image: linear-gradient(180deg, #32818f 0%, #206e7c 100%);
  border-color: #206e7c;
}

.fa-icon {
  color: #206e7c;
}

/* Weather */

.weather-icon {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* News */

.news-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Recipes */

.recipe-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
